<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>Pathoscope</h2>
        <p class="white-text">Complete bioinformatics framework for rapidly and accurately quantifying the proportions of reads from individual microbial strains present in metagenomic sequencing data from environmental or clinical samples</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>Pathostat</h2>
        <p class="white-text">R package that performs Statistical Microbiome Analysis on metagenomics results from sequencing data samples</p>
    </div>
    <div class="carousel-item blue white-text" href="#three!" style="background:url($ url_for('static', filename='images/COMETS-strip-636x152.jpg') $); background-size:cover;">
        <h2>COMETS</h2>
        <p class="white-text">Software platform for performing computer simulations of metabolism in spatially structured microbial communities</p>
    </div>
    <div class="carousel-item green white-text" href="#four!">
        <h2>MIND</h2>
        <p class="white-text">Coming soon...</p>
    </div>

</div>

<!-- <div class="slider"></div>
    <ul class="slides">
        <li>
            <img src="" alt="">
            <div class="caption center-align">
                <h3></h3>
                <h5></h5>
            </div>
        </li>
        <li>
            <img src="" alt="">
            <div class="caption center-align">
                <h3></h3>
                <h5></h5>
            </div>
        </li>
        <li>
            <img src="" alt="">
            <div class="caption center-align">
                <h3></h3>
                <h5></h5>
            </div>
        </li>
        <li>
            <img src="" alt="">
            <div class="caption center-align">
                <h3></h3>
                <h5></h5>
            </div>
        </li>
    </ul>
</div> -->