<!-- Dropdow -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/tools#pathoscope_tool">Pathoscope</a></li>
    <li><a href="/tools#pathostat_tool">Pathostat</a></li>
    <li class="divider"></li>
    <li><a href="/tools#mind_tool">MIND</a></li>
    <li><a href="/tools#comets_tool">COMETS</a></li>
</ul>

<header>
<div class="navbar-fixed z-depth-5">
<nav>
    <div class="nav-wrapper blue-grey lighten-3">
        <a href="/" class="brand-logo flow-text right">BU Microbiome Initiative</a>
        <a href="#" data-activates="mobile-sidebar" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a id="home" href="/">Home</a></li>
            <li><a id="news" href="/news">News</a></li>
            <li><a id="people" href="/people">People</a></li>
            <li><a id="tools" class="dropdown-button" href="#!" data-activates="dropdown1">Tools<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-sidebar">
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/people">People</a></li>
            <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Tools<i class="material-icons right">arrow_drop_down</i></a></li> -->
        </ul>
    </div>
</nav>
</div>
</header>