<!-- Dropdow -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/tools">Tools</a></li>
    <li class="divider"></li>
    <li><a href="/tools#pathoscope_tool">PathoScope</a></li>
    <li><a href="/tools#pathostat_tool">PathoStat</a></li>
    <li><a href="/tools#mind_tool">MIND</a></li>
    <li><a href="/tools#comets_tool">COMETS</a></li>
</ul>

<header>
<div class="navbar z-depth-5">
<nav>
    <div class="nav-wrapper blue-grey lighten-3">
        <a href="/" class="brand-logo flow-text right">BU Microbiome Initiative</a>
        <a href="#" data-activates="mobile-sidebar" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a id="home" class="waves-effect" href="/">Home</a></li>
            <li><a id="research" class="waves-effect" href="">Research</a></li>
            <li><a id="teams" class="waves-effect" href="/teams">Teams</a></li>
            <li><a id="news" class="waves-effect" href="/news">News and Events</a></li>
            <li><a id="sponsors" class="waves-effect" href="">Sponsors</a></li>
            <li><a id="tools" class="dropdown-button" data-hover="true" href="#!" data-activates="dropdown1">Tools<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-sidebar">
            <li><a href="/">Home</a></li>
            <li><a href="">Research</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/news">News and Events</a></li>
            <li><a href="">Sponsors</a></li>
            <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">Tools<i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="/tools">Overview</a></li>
                    <li><a href="/tools#pathoscope_tool">PathoScope</a></li>
                      <li><a href="/tools#pathostat_tool">PathoStat</a></li>
                    <li><a href="/tools#mind_tool">MIND</a></li>
                    <li><a href="/tools#comets_tool">COMETS</a></li>
                  </ul>
                </div>
              </li>
            </ul>
      </li>
            <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Tools<i class="material-icons right">arrow_drop_down</i></a></li> -->
        </ul>
    </div>
</nav>
</div>
</header>