$$ extends 'layout.html' $$

$$ block body $$

<div class="container">
    <div class="col s12 m7">
        <h4 class="header">Daniel Segre, PhD</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="http://www.bu.edu/segrelab/files/2012/06/1096644.jpeg" style="width:200px;height:200px;" class="circle responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Director, BU ARC on Systems Biology of Microbiomes</h4>
                    <p>Professor Segre is a professor in the Department of Biology, Bioinformatics, and Biomedical Engineering at Boston University.
                    His research focuses on the development of theoretical approaches and computational models for the study
                    of complex biological networks, with particular interest in the dynamics and evolution of metabolism.</p>
                </div>
                <div class="card-action">
                    <a href="https://www.bu.edu/biology/people/profiles/daniel-segre/">BU Profile</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <h4 class="header">William Evan Johnson, PhD</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="http://www.bumc.bu.edu/compbiomed/files/2012/01/Evan-Blur.png" style="width:200px;height:200px;" class="circle responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Associate Professor of Medicine</h4>
                    <p>Professor Jonhson is an associate professor of Medicine and Biostatistics. His research focuses on Applications in precision
                    genomic medicine, metagenomics, infectious disease diagnostics, batch effects, genomic data analysis, tumor
                    heterogeneity and cancer research.</p>
                </div>
                <div class="card-action">
                    <a href="http://www.bumc.bu.edu/compbiomed/people/faculty/w-evan-johnson/">BU Profile</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <h4 class="header">Jenny Talbot</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://www.bu.edu/biology/files/2015/07/talbot2.jpg" style="width:200px;height:200px;" class="circle responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Assistant Professor of Biology</h4>
                    <p></p>
                </div>
                <div class="card-action">
                    <a href="https://microbesatbu.wordpress.com/jenny/">BU Profile</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <h4 class="header">Kirill Korolev</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://edit.bu.edu/people/profile-photos/10/2714_small.jpg" style="width:200px;height:200px;" class="circle responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Assistant Professor of Physics</h4>
                    <p></p>
                </div>
                <div class="card-action">
                    <a href="http://physics.bu.edu/people/show/korolev">BU Profile</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <h4 class="header">Zhenjun Hu</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="http://visant.bu.edu/zjhu/zhenjun_hu.jpg" style="width:200px;height:200px;" class="circle responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Research Associate Professor</h4>
                    <p></p>
                </div>
                <div class="card-action">
                    <a href="http://visant.bu.edu/zjhu">BU Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

$$ endblock $$