body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo.left {
    padding-left: 5px;
}

img.center {
    display: block;
    margin: auto;
}